<template name="movies">
	<div class="movies">
		{{#each movies}}
			<div class="movie" id="{{_id}}" originalOrder="{{originalOrder}}">

				<div class="title tooltip-trailer">
                    <div class="cover" style="display:none">
                        <div>
                        <b>Cast:</b> {{cast}}
                        </div>
                        <img src="{{poster}}" alt=""/>
                    </div>
                    <img src="{{thumbnail}}" alt=""/>
                    {{title}} 
                    <span class="small-text">
                    {{#if year}}({{year}}){{/if}}
                    {{#if rating}}<span title="Rotten Tomatoes rating">[{{rating}}]</span> {{/if}}
                </span></div>

				{{#if isEditMode}}
					<div class="delete">delete</div>
				{{else}}
					<div class="votes">
						<div class="vote {{vote}} tooltip-my-vote">&lt;</div>
						<div class="votesSum tooltip-total-votes">{{votesSum}}</div>
					</div>
				{{/if}}

			</div>
		{{/each}}
	</div>
</template>
