<template name="movies">
	<div class="movies">
		{{#each movies}}
			<div class="movie" id="{{_id}}" originalOrder="{{originalOrder}}">

				<div class="title tooltip-trailer">
                    <div class="synopsis toggle" style="display:none">
                        <div>
                            {{synopsis}}
                        </div>
                    </div>
                    <div class="cover toggle" style="display:none">
                        <div>
                        <b>Cast:</b> {{cast}}
                        </div>
                        <img src="{{poster}}" alt=""/>
                    </div>
                    {{#if isEditMode}}
                        <span class="delete">X</span>
                    {{/if}}
                    <span>{{title}}
                    <span class="small-text">
                    {{#if year}}({{year}}){{/if}}
                    {{#if rating}}<span title="Rotten Tomatoes rating">[{{rating}}]</span> {{/if}}
                    </span></span>
                </div>
                <img src="{{thumbnail}}" alt="" title="See Movie Details"/>

                <div class="votes">
                    {{#if watching}}
                        <span class="watching">Watching</span>
                    {{else}}
                        <div class="vote {{vote}} tooltip-my-vote">&lt;</div>
                        <div class="votesSum tooltip-total-votes">{{votesSum}}</div>
                    {{/if}}
                </div>
			</div>
		{{/each}}
	</div>
</template>
